{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">

    <title>
        Airline Booking System
    </title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>

<div class="container">

    <h1>
        Система бронирования авиабилетов
    </h1>

    <nav>

        <a href="{% url 'home' %}">
            Главная
        </a>

        <a href="{% url 'flight_list' %}">
            Рейсы
        </a>

        <a href="{% url 'search_flights' %}">
            Поиск рейсов
        </a>

        <a href="{% url 'my_bookings' %}">
            Корзина
        </a>

        {% if user.is_authenticated %}

            <span>

                Здравствуйте,
                {{ user.username }}

            </span>

            <form action="{% url 'logout' %}"
                method="post"
                style="display:inline;">

                {% csrf_token %}

                <button type="submit">

                    Выйти

                </button>

            </form>

        {% else %}

            <a href="{% url 'login' %}">
                Вход
            </a>

            <a href="{% url 'register' %}">
                Регистрация
            </a>

        {% endif %}

    </nav>

    <hr>

    {% block content %}
    {% endblock %}

</div>

</body>
</html>