{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="home-page">

    <p class="subtitle">
        Веб-сайт аэропорта для поиска и бронирования авиабилетов
    </p>

    <img src="{% static 'img/airport.jpg' %}"
         alt="Аэропорт">

    <p>
        Система предоставляет возможность поиска рейсов,
        просмотра расписания и бронирования авиабилетов.
    </p>

    <a class="button"
       href="{% url 'flight_list' %}">

        Посмотреть рейсы

    </a>

</div>

{% endblock %}